<div style="margin-top: 6rem;margin-left: 30rem">
  <p-card header="Enter Credit Card Details" [style]="{width: '350px'}" styleClass="ui-card-shadow">
<div class="col-lg-12">
  <span class="ui-float-label pb">
    <input id="float-input" type="text" size="30" maxlength="16" pInputText> 
    <label for="float-input">Card Number *</label>
</span>
<span class="ui-float-label pb">
  <input id="float-input" type="text" size="30" pInputText> 
  <label for="float-input">Holder Name *</label>
</span>
<span class="ui-float-label pb">
  <input id="float-input" type="text" size="30" pInputText> 
  <label for="float-input">Month and Year *</label>
</span>
<span class="ui-float-label pb">
  <input id="float-input" type="text" size="30"  maxlength="3" pInputText> 
  <label for="float-input">CVV *</label>
</span>
<span class="ui-float-label pb">
  <input id="float-input" type="text" size="30"  pInputText> 
  <label for="float-input">Shipping Address *</label>
</span>
</div>
<button pButton type="button" label="Submit" style="margin-left: 9em;
margin-top: 1em; background-color: orange; border-color: orange;" (click)="submit()"></button>
</p-card>
</div>